.expansion {
  padding: 10px;
  padding-left: 40px;
  font-size: 0.9em;
}

.w50 {
  width: 50%;
}
.w50 > p {
  color: var(--light-gray);
}

.rowWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.red,
.blue {
  padding: 5px 0;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.blue strong,
.red strong {
  margin-bottom: 5px;
}
.blue span,
.red span {
  padding: 4px 8px;
  border-radius: 5px;
}
.blue span {
  color: var(--black);
  background-color: var(--blue-active);
}
.red span {
  color: var(--primary);
  background-color: var(--primary-active);
}
