.dashboard {
  padding: 10px 20px;
}

.overview {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.overview h1 {
  font-size: 24px;
  color: var(--light-gray);
}

.subHeading {
  font-size: 1.1em;
  margin-top: 15px;
}
