:root {
  --primary: #b31524;
  --secondary: rgb(223, 76, 76);
  --off-white: rgba(238, 238, 238, 0.96);
  --black: black;
  --white: white;
  --primary-active: #b3152411;
  --light-gray: gray;
  --dull-grey: #ddd;
  --yellow: rgb(224, 195, 70);
  --blue: rgb(111, 160, 227);
  --green: rgb(56, 205, 56);
  --red: rgb(244, 128, 128);

  --sidebar-width: 240px;
}
.row-flex {
  display: flex;
  flex-direction: row;
}
.col-flex {
  display: flex;
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}
.app {
  min-height: 100vh;
}
main,
aside {
  height: auto;
}
.gray-box {
  border: 1px solid var(--dull-grey);
  border-radius: "5px";
}

/* navbar styles */
.rs-navbar-default {
  background-color: var(--primary);
  color: var(--white);
}
.rs-navbar-brand {
  color: var(--white);
  font-weight: bold;
  font-size: 1.5em;
  padding: 12px 20px;
  width: var(--sidebar-width);
}
.rs-navbar-item {
  font-weight: 700;
}
.rs-sidenav {
  height: 100%;
}
.rs-sidenav-item-active {
  color: var(--primary) !important;
  background-color: var(--primary-active) !important;
  border-right: 4px solid var(--primary);
}
.rs-sidenav-item-active .rs-sidenav-item-icon {
  fill: var(--primary);
}
.rs-btn {
  font-weight: bold;
}
svg:not(:root) {
  margin-bottom: -2px;
}
svg.rs-sidenav-item-icon {
  margin: 0 15px -4px -35px;
  font-size: 1.1em;
}
